@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 62.25%;
  overflow: hidden;
}

.app {
  min-height: 100vh;
  background: linear-gradient(#54d3c2, #30898a);
  display: flex;
}

.removeRightBorder > * {
  border-right: none !important;
}

.mainPart {
  border-start-start-radius: 5rem;
  background: #fff;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 3rem;
}

.tablets {
  width: 100%;
  height: calc(100vh - 10rem);
  padding: 3rem 4rem;
  background: #f8f8f8;
  border-start-start-radius: 5rem;
  border-start-end-radius: 5rem;
  overflow-y: scroll;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 55%;
  }
}
